body{
    /* background-image: url("./IMG_20240214_003407.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
    margin: 0;
    padding: 0;
}

.section1{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./IMG_20240214_003407.jpg");
    height: 700px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.title{
    font-size: xx-large;
    padding-top: 200px;
    color: beige;
    padding-left: 500px;
}
.logo{
    height: 90px;
}
.title2{
    display: flex;
    color: beige;
}
.navbar{
    display: flex;
    margin-top: 20px;
    color: beige;

}
.flex{
    display: flex;
    justify-content: space-between;
}
.search{
    margin-top: 50px;
    margin-left: 600px;

}

.grid{
    height: 300px;
    width: 200px;
    /* padding: 300px; */
    border-style: solid;
    border-color: blue;
    /* border: 100px; */
    padding-top: 20px;
    margin-top: 20px;
    /* display: flex; */
    flex-wrap: wrap;
}

.grid1{
    display: grid;
    /* grid-template-columns: 100px 200px 300px; */
    grid-template-columns: auto auto auto auto;
    /* grid-row: 1/span3; */
    gap: 20px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:576px) {
    .grid1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section1{
        width: 100%;
        height: auto;
    }
    .title2{
        display: block;
    }
    .navbar{
        flex-direction: row;
    }
    .search{
        margin-left: 100px;
        margin-top: 50px;
        padding-bottom: 100px;
        padding-right: 50px;
    }
    .title{
        padding-left: 100px;
    }
    
}